/*
 * CSS Custom
 */

#header{
	position: absolute;
	z-index: 2;
}

.reveal section img {
  border: 0;
}
.reveal h5, .reveal h6  {
  color: #25a1d2;
}

div.wrapper{

  background-color: rgba(255,255,255,0.7);
  color: #0F3F52;
  height: 74%;
  margin: auto;
  max-height: 74%;
  max-width: 74%;
  min-height: 687px;
  min-width: 74%;
  width: 74%;

}

div.wrapper p{
  margin:5px 0;
}

div.apps{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1.3333%;
  margin: 0 3%;
}

.reveal div.fragmentos{
  position: relative;
}

.reveal div.fragmentos img{ margin: 0; }

.reveal div.fragmentos {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 33% 33% 33%;
}

.reveal div.fragment.visible.mcmini{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
}

.reveal div.mcmini div.fragment.osx{
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.reveal div.fragment.visible.atom, .reveal div.fragment.visible.xcode,.reveal div.fragment.visible.andstu{
  grid-column-start: 1;
  grid-column-end: 1;
}

.reveal div.fragment.visible.atom{
  grid-row-start: 1;
  grid-row-end: 1;
}

.reveal div.fragment.visible.xcode{
  grid-row-start: 2;
  grid-row-end: 2;
}

.reveal div.fragment.visible.andstu, .reveal div.fragment.visible.ionic, .reveal div.fragment.visible.angular,
.reveal div.fragment.visible.slack, .reveal div.fragment.visible.trello {
  grid-row-start: 3;
  grid-row-end: 3;
}

.reveal div.fragment.visible.ionic{
  grid-column-start: 2;
  grid-column-end: 2;
}

.reveal div.fragment.visible.angular{
  grid-column-start: 3;
  grid-column-end: 3;
}

.reveal div.fragment.visible.slack{
  grid-column-start: 4;
  grid-column-end: 4;
}

.reveal div.fragment.visible.trello, .reveal div.fragment.visible.bear, .reveal div.fragment.visible.sourcetree{
  grid-column-start: 5;
  grid-column-end: 5;
}

.reveal div.fragment.visible.bear{
  grid-row-start: 2;
  grid-row-end: 2;
}

.reveal div.fragment.visible.sourcetree{
  grid-row-start: 1;
  grid-row-end: 1;
}

div.splash{
  display: contents;
}
div.docs, div.valor {
  display: grid;
  grid-template-columns: 50% 50%;
}

div.docs div {
  min-height: 350px;
  max-height: 500px;
}

div.valor{
  margin-left: 15px;
}

div.gridvs, div.gridvs4, div.gridpwa{
  display: grid;
  margin-left: 20px;
}

div.gridvs {
  grid-template-columns: 33% 33% 33%;
}
div.gridvs4{
  grid-template-columns: 25% 25% 25% 25%;
}

div.gridpwa{
  align-items: center;
  grid-template-columns: 25% 50% 25%;
  grid-gap: 0;
  justify-items: stretch;
}

div.gridpwa div.fragment{
  grid-row-start: 1;
  grid-row-end: 1;
}

div.gridpwa div.pi{
  grid-column-start: 2;
  grid-column-end: 2;
}

div.gridpwa div.sw{
  grid-column-start: 1;
  grid-column-end: 1;  
}

div.gridpwa img{
  background: transparent;
  box-shadow: 0 0 0;
}

div.gridpwa div.rig{
  grid-column-start: 1;
  grid-column-end: 1;
}

div.gridpwa div.der{
  grid-column-start: 3;
  grid-column-end: 3;
}

div.gridpwa div.mn{
  grid-column-start: 3;
  grid-column-end: 3;
}


div.plantilla{
  position: relative;
}

div.plantilla img:not(:first-child){
  box-shadow: 0 0 0;
  left: 15px;
  position: absolute;
  top: 0;  
}

@media only screen and (min-height: 600px){

  div.wrapper{
    height: 475px;
    min-height: 475px;
    max-height: 475px
  }

  div.splash img{
    max-height: 400px;
  }

}

@media only screen and (min-height: 768px){

  div.wrapper{
    height: 608px;
    min-height: 608px;
    max-height: 608px
  }

  div.splash img{
    max-height: 508px;
  }

}

@media only screen and (min-height: 900px){

  div.wrapper{
    height: 712px;
    min-height: 712px;
    max-height: 712px
  }

  div.splash img{
    max-height: 600px;
  }

  div.fragmentos, div.gridvs, div.gridvs4{
    height: 590px;
    max-height: 590px;
  }
}

@media only screen and (min-height: 1024px){

  div.wrapper{
    height: 810px;
    min-height: 810px;
    max-height: 810px
  }

  div.splash img{
    max-height: 700px;
  }

  div.plantilla img:not(:first-child){
    left: 8%;
  }

}

@media only screen and (min-height: 1080px){

  div.wrapper{
    height: 810px;
    min-height: 810px;
    max-height: 810px
  }

  div.fragmentos, div.gridvs{
    height: 750px;
  }

  div.splash img{
    max-height: 700px;
  }

  div.plantilla img:not(:first-child){
    left: 8%;
  }

}

@media only screen and (max-width: 1920px){
  div.plantilla img:not(:first-child){
    left: 22% !important;
  }
}

@media only screen and (max-width: 1280px){
  .bmenu li {
    font-size: 55px !important;
  }

  div.apps{
    grid-gap: 0.3333%;
    margin: 0 1.5%;
  }
}

@media only screen and (max-width: 1024px){
  .bmenu li {
    font-size: 35px !important;
  }

  div.apps{
    grid-gap: 0.3333%;
    margin: 0 1.5%;
  }
}

@media only screen and (max-width: 800px){

  .reveal h5, .reveal h6, .reveal ol, .reveal ul  {
    font-size: 25px !important;
  }

  .bmenu li {
    font-size: 20px !important;
  }

  div.apps{
    grid-gap: 0.3333%;
    margin: 0 1.5%;
  }

}
